<div id="error" data-ng-controller="ErrorCtrl">
    <div class="message small-6 small-offset-3">
        <div class="title">Something went wrong...</div>
        <div class="details">Please speak with your team's CognitiveScale representative so we can learn about and address your issue. We're working on making the cognitive computing experience better for everyone. Thanks in advance for the help!</div>
        <div class="buttons">
            <button class="button inverse" data-ng-click="startOver($event)">Start Over</button>
        </div>
    </div>
</div>
